body {
  font-family: sans-serif;
  padding: 20px;
  color: white; /* Aplica color blanco al texto */
  background-color: #000000;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #8A2BE2; /* ← borde exterior de la tabla */
}

th, td {
  border: 2px solid #8A2BE2; /* ← borde de cada celda */
  padding: 4px;
  text-align: center;
  background-color: #000000;
}


th {
  background-color: #cccccc;
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #000000;
  color: white; /* ← Texto blanco dentro del textarea */
}



.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 15px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  margin-top: 10px;
  border-top: 2px solid #3498db;
}

.footer strong {
  color: #f1c40f;
}

.sugerencias li {
  color: black;
  padding: 4px;
  font-weight: bold;
  font-size: 17px;
 
}

ul.sugerencias {
  position: absolute;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  width: 200px; /* o el ancho que tú desees fijo */
  box-sizing: border-box;
  padding: 5px;
  margin: 15px;
  background-color: #f5f393;
  border-color: #dd0707;
  border-radius: 10;
}
.img-container {
  width: 70px;
  height: 60px;
  overflow: hidden;
  margin: 2px auto;
 
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
tr {
  height: 20px; /* o el valor que necesites */
}
.img-flotante {
  position: absolute;
  top: 5px; /* Ajusta según lo necesites */
  right: 5px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;
}
.celda-con-boton {
  position: relative; /* ¡Esto es esencial para que funcione la posición absoluta del hijo! */
}
